# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env.*
.venv/
venv/
ENV/
env/
*.sqlite3

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Firebase credentials
service_account.json

# Uploads and user files
uploads/
*.log

# Node (if you ever use npm for frontend)
node_modules/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
.tox/